<div class="row register">
    <div class="row" role="tabpanel">
        <ul class="nav nav-tabs " role="tablist">
            <li role="presentation" class="active"><a href data-target="#tabLight" aria-controls="tabLight" role="tab" data-toggle="tab">Light</a></li>
            <li role="presentation" ><a href data-target="#tabSoilTemperature" aria-controls="tabSoilTemperature" role="tab" data-toggle="tab">Soil Temperature</a></li>
            <li role="presentation"><a href data-target="#tabMoisture" aria-controls="tabMoisture" role="tab" data-toggle="tab">Moisture</a></li>
            <li role="presentation"><a href data-target="#tabPH_Value" aria-controls="tabPH_Value" role="tab" data-toggle="tab">PH_Value</a></li>
        </ul>

    </div>
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="tabLight" >
            <div style="display:flex;flex-direction: column;">
                <div style="flex:1">
                    <div >Bounds</div>
                    <vds-multirange ng-model="rangeLight_Bounds" views="viewBounds" view="0"></vds-multirange></div>
                <div style="flex:1">
                    <div >Months</div>
                    <vds-multirange ng-model="rangeLight_Months" views="viewMonths" view="0"></vds-multirange></div>
                <div style="flex:1">
                    <div>Hours</div>
                    <vds-multirange ng-model="rangeLight_Hours"  views="viewHours" view="0"></vds-multirange></div>
            </div>

        </div> <!-- end tabInfo pange -->
        <div role="tabpanel" class="tab-pane" id="tabSoilTemperature">
            hello temp
        </div> <!-- end #tabMeasurements pane -->
        <div role="tabpanel" class="tab-pane" id="tabMoisture">
            hello
        </div> <!-- end tabManage pange -->
        <div role="tabpanel" class="tab-pane" id="tabPH_Value">
            
        </div> <!-- end tabManage pange -->
    </div>

    <div>

    </div>
</div>