<div class="container" id="bodycon">


    <div class="container">
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <a href="#/explore" class="post-image-link">
                    <p><img src="images/opm_mygarden.png.jpg" class="img-responsive" alt="Free Bootstrap Creative Theme - Start Bootstrap" /></p>

                </a>
                <div class="caption">
                    <h3>My Garden</h3>
                    <p>Looking forward to purchase a plant? Look up which plants will grow in your garden well!</p>
                    <a href="#/explore" class="btn btn-default">Find out now</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <a href="#/register" class="post-image-link">
                    <p><img src="images/opm_sensebox.png.jpg" class="img-responsive" alt="Free Bootstrap Agency Theme - Start Bootstrap" /></p>

                </a>
                <div class="caption">
                    <h3>Connect a Sensebox</h3>
                    <p>Missing environmental information in your area? Hang up a sensebox for your area!</p>
                    <a href="#/register" class="btn btn-default">See more information</a>
                </div>
            </div>
        </div>	 

        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <a href="#/plant_viewer" class="post-image-link">
                    <p><img src="images/opm_plantviewer.png.jpg" class="img-responsive" alt="Free Bootstrap Blog Theme - Start Bootstrap" /></p>

                </a>
                <div class="caption">
                    <h3>Plant Viewer</h3>
                    <p>Looking for a certain plant in your neighbourhood? Find out where they are!</p>
                    <a href="#/plant_viewer" class="btn btn-default">Find out now</a>
                </div>
            </div>
        </div>	  

    </div>
</div>
